@model IEnumerable<BSTSmartScholarship.Business.Applicant>

@{
    ViewBag.Title = "Awarded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav>
    <ul id="submenu">
        <li>@Html.ActionLink("Pending Verification", "Index", "Admin")</li>
        <li>@Html.ActionLink("Eligible", "PendingReview", "Admin")</li>
        <li>@Html.ActionLink("Awarded", "Awarded", "Admin")</li>
    </ul>
</nav>

<h2>Awarded</h2>

<section class="applicants">
    <div id="my-dialog"></div>
    @{ foreach (BSTSmartScholarship.Business.Applicant applicant in Model) {
        <section class="applicant" @{if (applicant.Votes.Count > 0){ <text>style="background-color: #00ff21;"</text>}}>
            <div style="display: inline-block; min-width: 170px;">
                <p class="name">@(String.Format("{0} {1}", applicant.FirstName, applicant.LastName))</p>
                <p>@(BSTSmartScholarship.Business.RegexUtility.FormatPhone(applicant.PhoneNumber))</p>
                <p>@(applicant.EmailAddress)</p>
            </div>
            <div style="display: inline-block; text-align: left;">
                <p></p>
                <p>@Html.LabelFor(model => applicant.Gender): @(((BSTSmartScholarship.Business.Gender)applicant.Gender).ToString())</p>
                <p>@Html.LabelFor(model => applicant.DateOfBirth): @(applicant.DateOfBirth.ToShortDateString())</p>
            </div>
            <div style="display: inline-block; text-align: right; min-width: 440px;">
                <p class="status">@(((BSTSmartScholarship.Business.Status)applicant.Status).ToString())</p>
                <p>@Html.LabelFor(model => applicant.CumulativeGPA): <span style="display: inline-block; width: 40px;"> @(applicant.CumulativeGPA)</span></p>
                <p>@Html.LabelFor(model => applicant.CreditHours): <span style="display: inline-block; width: 40px;"> @(applicant.CreditHours)</span></p>
            </div>
            <div style="display: inline-block; float: right;">
                <a href='@Url.Action("VoteForApplicant", "Admin", new { sn = applicant.StudentNumber })' class="button">Vote</a>
            </div>
        </section>
          }}
</section>
