@model IEnumerable<BSTSmartScholarship.Business.Applicant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('#my-dialog').dialog({
            autoOpen: false,
            width: 600,
            resizable: false,
            modal: true,
            title: "Verify Applicant"
        });
    });

    function showModal(action) {
        $('#my-dialog').load(action, function() {
            $(this).dialog('open');
        });
        return false;
    }
</script>

<nav>
    <ul id="submenu">
        <li>@Html.ActionLink("Pending Verification", "Index", "Admin")</li>
        <li>@Html.ActionLink("Eligible", "PendingReview", "Admin")</li>
        <li>@Html.ActionLink("Awarded", "Awarded", "Admin")</li>
    </ul>
</nav>

<h2>Verify Applicants</h2>

<section class="applicants">
    <div id="my-dialog"></div>
    @{ foreach (BSTSmartScholarship.Business.Applicant applicant in Model) {
        <section class="applicant">
            <div style="display: inline-block; max-width: 924px;">
                <p class="name">@(String.Format("{0} {1}", applicant.FirstName, applicant.LastName))</p>
                <p>@(BSTSmartScholarship.Business.RegexUtility.FormatPhone(applicant.PhoneNumber))</p>
                <p>@(applicant.EmailAddress)</p>
            </div>
            <div style="display: inline-block; float: right;">
                @{String actionString = String.Format("\"{0}\"", Url.Action("VerifyWithRegistrar", new { sn = applicant.StudentNumber }));
                    <input type="submit" value="Verify with Registrar" onclick='showModal(@(actionString));' />}
            </div>
        </section>
          }}
</section>
