@model IEnumerable<BSTSmartScholarship.Business.Applicant>

@{
    ViewBag.Title = "PendingReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav>
    <ul id="submenu">
        <li>@Html.ActionLink("Pending Verification", "Index", "Admin")</li>
        <li>@Html.ActionLink("Pending Review", "PendingReview", "Admin")</li>
        <li>@Html.ActionLink("Awarded", "Awarded", "Admin")</li>
    </ul>
</nav>

<h2>Pending Review</h2>

<section class="applicants">
    <div id="my-dialog"></div>
    @{ foreach (BSTSmartScholarship.Business.Applicant applicant in Model) {
        <section class="applicant">
            <div style="display: inline-block; max-width: 924px;">
                <p class="name">@(String.Format("{0} {1}", applicant.FirstName, applicant.LastName))</p>
                <p>@(BSTSmartScholarship.Business.RegexUtility.FormatPhone(applicant.PhoneNumber))</p>
                <p>@(applicant.EmailAddress)</p>
            </div>
            <div style="display: inline-block; float: right;">
                <input type="submit" value="Mark as Eligible" />
            </div>
        </section>
          }}
</section>
