@model BSTSmartScholarship.Business.Model.Applicant

@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apply</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Applicant</legend>

        <section>
            @Html.ValidationMessageFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.Gender)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.StudentNumber)
            @Html.ValidationMessageFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.CumulativeGPA)
            @Html.ValidationMessageFor(model => model.CreditHours)
        </section>
        <section class="personal-info">  
            <div class="editor-field">
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName)
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName)
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.EditorFor(model => model.PhoneNumber)
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.EmailAddress)
                @Html.EditorFor(model => model.EmailAddress)
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.Gender)
                @Html.EditorFor(model => model.Gender)
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.DateOfBirth)
                @Html.EditorFor(model => model.DateOfBirth)
            </div>
        </section>

        <section class="collegiate-info">
            <div class="editor-field">
                @Html.LabelFor(model => model.StudentNumber)
                @Html.EditorFor(model => model.StudentNumber)
            </div>
            
            <div class="editor-field">
                @Html.LabelFor(model => model.Status)
                @Html.EditorFor(model => model.Status)
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.CumulativeGPA)
                @Html.EditorFor(model => model.CumulativeGPA)
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.CreditHours)
                @Html.EditorFor(model => model.CreditHours)
            </div>
        </section>
        <p style="clear: both; text-align: right;">
            <input type="submit" value="Apply" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
